extends layout
doctype
html
  head
    title #{title} - My Site
  body
    header
      h1 My Site
    .container
      .main-content
        block content
            div(data-id='ec2_ip', data-view='Text');
            